.anchoPantalla {
    min-height: 100vh;

}

.efectos:hover {
    cursor: pointer;
    box-shadow: 0 2px 5px 5px rgba(74, 190, 213, 0.75);
    transition: all 200ms ease-out;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}